@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  height: 100vh;
}

.bet-input {
  width: 80px;
  max-width: max-content;


}

#coinflip-circle {
  background-color: currentColor;
  box-shadow: 0 0 20px 1px currentColor;
}